Requirements:

In [ ]:
#pip install requests

In [ ]:
#pip install pandas

In [ ]:
#pip install json

In [1]:
import requests
import pandas as pd
import json

Base Access to the Official Grand Exchange API

In [ ]:
'http://services.runescape.com/m=itemdb_oldschool/api/catalogue/detail.json?item='

Finding Our First Item: Using https://everythingrs.com/tools/osrs/itemlist

In [2]:
response = requests.get('http://services.runescape.com/m=itemdb_oldschool/api/catalogue/detail.json?item=1046')

In [3]:
response

Getting Useful Data out of Our First Item

In [4]:
data = response.json()

In [5]:
data

{'item': {'icon': 'http://services.runescape.com/m=itemdb_oldschool/1582802986184_obj_sprite.gif?id=1046',
  'icon_large': 'http://services.runescape.com/m=itemdb_oldschool/1582802986184_obj_big.gif?id=1046',
  'id': 1046,
  'type': 'Default',
  'typeIcon': 'http://www.runescape.com/img/categories/Default',
  'name': 'Purple partyhat',
  'description': 'A nice hat from a cracker.',
  'current': {'trend': 'neutral', 'price': '4,087'},
  'today': {'trend': 'positive', 'price': '+105'},
  'members': 'false',
  'day30': {'trend': 'positive', 'change': '+7.0%'},
  'day90': {'trend': 'negative', 'change': '-36.0%'},
  'day180': {'trend': 'negative', 'change': '-37.0%'}}}

Making Our Data Useful

In [6]:
item_price = data['item']['current']['price']

In [17]:
item_name = data['item']['name']

In [18]:
item_name

'Purple partyhat'

In [7]:
item_price

'4,087'

In [8]:
item_price = item_price.replace(',' , '')

In [9]:
item_price

'4087'

In [11]:
int(item_price) + 2

4089

Storing out Data in a Dataframe

In [22]:
df = pd.DataFrame()

In [24]:
name_list = [item_name]
price_list = [item_price]

In [25]:
df['Names'] = name_list
df['Prices'] = price_list

In [26]:
df

             Names Prices
0  Purple partyhat   4087